body{
    background-color: rgb(118, 138, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.header{
    margin: 2px;
    padding: 4px;
}
h1{
    text-decoration: underline;
}
.main{
    margin: 2px;
    padding: 4px;
    border: 2px dashed black;
}